build
node_modules
.idea
yarn-error.log
.openzeppelin
.vscode
LICENSE.txt
coverage.json
.env
MVP-void
hardhat.config.js
.coverage

# Openzeppelin files for local deploys
.openzeppelin/unknown-1337.json

# Hardhat stuff
artifacts/
cache/
