build
node_modules
.idea
yarn-error.log
.openzeppelin
.vscode
truffle-config.js
LICENSE.txt
coverage.json
.env
MVP-void

# Openzeppelin files for local deploys
.openzeppelin/unknown-1337.json

# Hardhat stuff
artifacts/
cache/
